/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* GLOBAL */

:root {
  --roboto: "Roboto", sans-serif;

  --fs-900: 2.250rem;
  --fs-800: 1.875rem;
  --fs-700: 1.500rem;
  --fs-600: 1.250rem;
  --fs-500: 1.125rem;
  --fs-400: 1.000rem;
  --fs-300: 0.875rem;

  --gray-900: hsl(25 10% 10%);
  --gray-500: hsl(25 5% 45%);
  --gray-200: hsl(25 5% 82%);
  --gray-100: hsl(25 9% 98%);
  --gray-bg: hsl(187 25% 90%);

  --primary: hsl(199 89% 45%);
  --accent: hsl(43 96% 56%);

  --shadow: 2px 4px 8px -3px hsl(0 0% 0% / 25%);

  --transition-slow: 500ms;
  --transition-medium: 250ms;
  --transition-fast: 200ms;
}

body {
  font-family: var(--roboto);
  font-size: var(--fs-400);
}

h1 { font-size: var(--fs-800); }
h2 { font-size: var(--fs-700); }
h3 { font-size: var(--fs-600); }
h4 { font-size: var(--fs-500); }
h5 { font-size: var(--fs-400); }

/* SVGs */

.icon-defs {
  display: none;
}

svg use {
  fill: currentColor;
}

/* PAGE-WIDE LAYOUT */

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 180px 1fr;
}

aside {
  grid-row: 1 / -1;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1.4fr 1fr;
  gap: 1.5rem 1.25rem;
}

main > * {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.posts {
  grid-row: 1 / -1;
}

.posts > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 1.25rem;
}

.announcements > div,
.trending > div {
  display: grid;
  align-items: center;
}

/* ASIDE */

aside {
  color: var(--gray-100);
  background-color: var(--primary);
  padding: 2.5rem 1.75rem;
}

aside > .wrapper {
  position: sticky;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

aside svg {
  position: relative;
  bottom: 2px;
  width: 1.5em;
}

h2 {
  font-size: calc(var(--fs-700) + 0.3vw);
}

h2 > svg {
  position: fixed; /* relative to viewport */
  top: -20px;
  left: -20px;
  width: 5em;
  opacity: 0.2;
}

nav > ul {
  font-size: calc(var(--fs-500) - 3px + 0.3vw);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

nav a {
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  transition: opacity var(--transition-fast);
}

nav a:hover {
  opacity: 1;
}

nav svg {
  transition: transform var(--transition-slow);
}

nav li:not([data-selected]) > a:hover > svg {
  transform: rotate(1turn);
}

nav li[data-selected] > a {
  font-weight: bold;
  opacity: 1;
}

/* MAIN */

main {
  background-color: var(--gray-bg);
  padding: 2.25rem 1.25rem 2.75rem;
}

main a {
  text-decoration: underline;
}

main a:hover {
  text-decoration: none;
}

.posts article {
  background-color: var(--gray-100);
  box-shadow: var(--shadow);
  padding: 2rem 1.25rem;
  border-left: 0.5rem solid var(--accent);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.posts h4 {
  line-height: 1.2em;
}

.posts h4 > a {
  text-decoration: none;
  transition: color var(--transition-fast);
}

.posts h4 > a:hover {
  color: var(--accent);
}

.posts p {
  font-size: calc(var(--fs-400) - 2px + 0.06vw);
  color: var(--gray-500);
  margin-bottom: 1rem; /* minimum gap */
}

.posts .date {
  margin-top: auto;
  margin-bottom: 2px; /* extra spacing */
}

.posts .date,
.posts .stats-and-actions {
  font-size: calc(var(--fs-300) - 2px);
  font-weight: 300;
}

.posts .stats-and-actions {
  display: flex;
  gap: 8px;
}

.posts .stats-and-actions > div {
  display: flex;
  align-items: center;
  gap: 2px;
}

.posts .stats-and-actions > .action {
  margin-left: auto;
}

/* we only want the first .action */
.posts .stats-and-actions > .action ~ .action {
  margin-left: 0;
}

.posts svg {
  position: relative;
  bottom: 1px;
  width: 1.25em;
}

.posts .action > svg {
  cursor: pointer;
  transition: transform var(--transition-medium);
}

.posts .action > svg:hover {
  transform: translateY(-4px);
}

.posts .action > svg use {
  transition: fill var(--transition-medium);
}

.posts .action > svg:hover use {
  fill: var(--accent);
}

.announcements > div {
  background-color: var(--gray-100);
  box-shadow: var(--shadow);
  padding: 1rem 1.25rem;
  border-radius: 8px;
}

.announcements hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(90deg, var(--gray-100), var(--gray-200) 20%, var(--gray-200) 80%, var(--gray-100));
}

.announcements h4 {
  font-size: var(--fs-400);
}

.announcements p {
  font-size: calc(var(--fs-300) - 4px + 0.36vmin);
}
